/*----------------------*/
/*--------HEADER--------*/
/*----------------------*/

#header {
    justify-content:    space-between;
    position:           static;
}

#headerLoggedIn  {
    justify-content:    space-between;
    position:           static;
}

/*----------------------*/
/*----------------------*/
/*-----HEADER LOGO------*/
/*----------------------*/

a#logo                  {
    font-size:      1.0rem;
}

/*----------------------*/
/*-----SEARCH BAR-------*/
/*----------------------*/

#whiteSearchBorder {
    width:              98vw;
}