* {
}

body {
    display:            flex;
    flex-flow:          column nowrap;
    align-items:        center;
}

a   {
    font-family:    'Roboto', Arial, Helvetica, serif;
    text-decoration:    none;
}

h1 {
    font-family:    'Roboto', Arial, Helvetica, serif;
    color:  red;
    font-size:  6em;
}

p   {
    font-family:    'Roboto', Arial, Helvetica, serif;
}

img {
    width:  300px;
}